{% extends 'base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<!-- FIRST CONTAINER -->
<div class="container-fluid">
    <div class="row row1">
        <div class="col-lg-8">
            <h1>we ..........</h1>
            <br>
            <p>dfsfadjlaslkdjalsjdaj</p>
            <br>
            <div class="row">
                <p class="col-sm-6">request</p>
                <p class="col-sm-6">view</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}