
/* SOCIAL MEDIA MARKETRING CSS */

@import "compass/css3";
 @import "compass/reset";
 @import "compass/css3";
/* Updated version - 24th Nov 2014 */
/* Variables */

 @font-face {
	 font-family: 'Genericons';
	 src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot');
	 src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}
 [class*="genericon"] {
	 display: inline-block;
	 width: 16px;
	 height: 16px;
	 -webkit-font-smoothing: antialiased;
	 font-size: 16px;
	 line-height: 1;
	 font-family: 'Genericons';
	 text-decoration: inherit;
	 font-weight: normal;
	 font-style: normal;
	 vertical-align: top;
}
/* IE7 */
 [class*="genericon"] {
	 *overflow: auto;
	 *zoom: 1;
	 *display: inline;
}
 .container {
	 margin: 100px auto;
}
 .accordion {
	 background: #5ab2ca;
	 width: 100%;
	 /* min-width: 950px; */
	 display: block;
	 list-style-type: none;
	 overflow: hidden;
	 /* height: 200px; */
	 font-size: 0;
}
 .tabs {
	 display: inline-block;
	 background-color: #6dc5dd;
	 border-right: #5ab2ca 1px solid;
	 width: 80px;
	 height: 200px;
	 overflow: hidden;
	 position: relative;
	 margin: 0;
	 font-size: 16px;
	 transition: all 0.4s 0.1s ease-in-out;
}
 .tabs:hover {
	 width: 450px;
}
 .tabs:hover .social-links a:before {
	 margin-left: -100px;
}
 .tabs:hover .social-links a:after {
	 margin-left: -5px;
}
 .tabs .paragraph {
	 position: relative;
	 width: 360px;
	 margin-left: 80px;
	 padding: 50px 0 0 10px;
	 height: 200px;
	 background: #fff;
}
 .tabs .paragraph h1 {
	 font-size: 2.5em;
	 margin-bottom: 10px;
}
 .tabs .paragraph p {
	 font-size: 0.88em;
	 line-height: 1.5em;
	 padding-right: 30px;
}
 .social-links {
	 display: block;
}
 .social-links a {
	 display: block;
	 text-indent: -9999px;
	 font-size: 0;
	 line-height: 0;
}
 .social-links a:before, .social-links a:after {
	 transition: all 0.4s 0.1s ease-in-out;
	 width: 80px;
	 height: 200px;
	 position: absolute;
	 text-indent: 0;
	 padding-top: 90px;
	 padding-left: 25px;
	 display: block;
	 font: normal 30px Genericons;
	 color: #fff;
}
 .social-links a:after {
	 font-size: 48px;
	 padding-left: 20px;
	 padding-top: 80px;
	 margin-left: 85px;
}
 .twitter-icon a:before, .twitter-icon a:after {
	 content: '\f202';
}
 .twitter-icon a:after {
	 background-image: linear-gradient(#7adcf9, #4bc9f5);
}
 .facebook-icon a:before, .facebook-icon a:after {
	 content: '\f204';
}
 .facebook-icon a:after {
	 background-image: linear-gradient(#548abf, #295b9e);
}
 .linkedin-icon a:before, .linkedin-icon a:after {
	 content: '\f208';
}
 .linkedin-icon a:after {
	 background-image: linear-gradient(#00a9cd, #0083b4);
}
 .insta-icon a:before, .insta-icon a:after {
	 content: '\f215';
}
 .insta-icon a:after {
	 background-image: linear-gradient(#7fc121, #298733);
}
 .youtube-icon a:before, .youtube-icon a:after {
	 content: '\f213';
}
 .youtube-icon a:after {
	 background-image: linear-gradient(#df192a, #c41222);
}
 .tumblr-icon a:before, .tumblr-icon a:after {
	 content: '\f214';
}
 .tumblr-icon a:after {
	 background-image: linear-gradient(#283e56, #325372);
}
 .dribbble-icon a:before, .dribbble-icon a:after {
	 content: '\f201';
}
 .dribbble-icon a:after {
	 background-image: linear-gradient(#e03a70, #f189b8);
}